:root {
  --light-grey: 50 52 60;
  --light-blue: 159 202 205;
}
/* Element Selectors */
html {
  font-family: Georgia, "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  background-color: var(--dark-grey);
}
.navbar{
  background-color:rgb(var(--light-grey));
}
.navbar button, .navbar a{
  color: rgb(var(--light-blue));
}
.customToggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(159 202 205)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.customToggler.navbar-toggler {
  border-color: rgb(var(--light-blue));

}
/* Top Info */
#top {
  background-image: url(../imgs/bckgroundImg.png);
}
#top h2 {
  
  color: rgb(var(--light-grey));
  background-color: rgb(var(--light-blue));
}
#myPhoto {
  max-width: 400px;
}
.tab {
  color: rgb(var(--light-blue));
  border-right: 5px solid rgb(var(--light-blue));
  text-align: center;
  
}

/* About Me Section */



#aboutInfo {
  font-size: 18px;
  color: rgb(var(--light-grey));
}
/* Projects Sections */
#work {
  
  
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-around;
}
.card{
margin: auto;
  background-color: rgb(var(--light-grey));
  border: 5px solid rgb(var(--light-blue));
  color:rgb(var(--light-blue));
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.card:hover{
    
    filter: none;
    -webkit-filter: none;
  
}
.card-img-top{
 height: 300px;
 object-fit: cover;


}
.btn{
  border-color: rgb(var(--light-grey));
  background-color: rgb(var(--light-blue));
  color:rgb(var(--light-grey))
}
.btn:hover{
  background-color: rgb(var(--light-grey));
  color: rgb(var(--light-blue));
  border-color: rgb(var(--light-blue));
}
.proj , .first {
  border: 5px solid rgb(var(--light-blue));
  position: relative;
  margin: 10px;
}

.proj a , .first a {
  color: rgb(var(--light-grey));
  background-color: rgb(var(--light-blue));
  position: absolute;
  bottom: 20px;
  text-decoration: none;
  font-size: 24px;
  padding: 5px;
}

/* project hover events */
.proj:hover a, .first:hover a {
  border: 5px solid rgb(var(--light-grey));
 color: rgb(var(--light-blue));
 background-color: rgb(var(--light-grey));
}
.projPic:hover  {
     /* remove blur effect */
  filter: none;
  -webkit-filter: none;
}

/* Contct Me Section */
#contact {
  padding: 10px;
}
#contact #way-to-contact {
  justify-content: space-around;
  margin: auto 20px;
  width: 80%;
}

#way-to-contact a {
  color: rgb(var(--light-grey));
  text-decoration: none;
  border-bottom: 5px solid rgb(var(--light-grey));
  
}

/* Mobile layout L-S */
@media screen and (max-width: 425px) {
  
  #myPhoto {
    max-width: 250px;
  }
 
  /* changes border to bottom */
  .tab {
    border-right: none;
    border-bottom: 5px solid rgb(var(--light-blue));
  
  }
  

  /* Contact Me Section */
  #contact #way-to-contact {
    flex-direction: column;
  }
 

  #way-to-contact a {  
    width: fit-content;
  }
 
}
