:root{
    --light-grey: 50 52 60;
    --light-blue: 159 202 205;
}
/* Element Selectors */
html {
  font-family: Georgia, "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  background-color: var(--dark-grey);
}

header {
  text-align: end;
}

nav {
  display: flex;
  flex-wrap: wrap;
  
  background-color: rgb(var(--light-grey));
  justify-content: space-between;
}
nav h1 {
  margin: auto 0;
  font-size: 35px;
  background-color: rgb(var(--light-blue));
  color: rgb(var(--light-grey));
  padding: 5px 5px 5px 80px;
}
nav ul {
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
}
nav ul a {
  color: rgb(var(--light-blue));
  text-decoration: none;
  margin: 5px;
  text-align: center;
  border-bottom: 5px solid rgb(var(--light-blue));
  font-size: large;
  padding: 5px;
}
nav ul a:hover {
  background-color: rgb(var(--light-blue));
  color: rgb(var(--light-grey));
  border-bottom: 5px solid rgb(var(--light-grey));
}
#myPhoto {

  max-width: 400px;
  margin-left: 100px;
}
.tab {
  border-right: 5px solid black;
  padding-right: 20px;
  width: 150px;
  text-align: end;
  margin-left: 20px;
}

/* About Me Section */
#top {
  display: flex;
  margin-top: 15px;
  padding: 20px;
  justify-content: center;
color: #777777
}
#top h2{
    margin: auto auto;
}
.sec{
    display: flex;
}
#aboutMe {
  margin-top: 100px;
  padding:10px
}

#aboutInfo {
    font-size: 18px;
width:80%;
padding-left: 20px;
}
/* Projects Sections */
#work {
    padding:10px
}
#contact{
    padding:10px;
}

/* Contct Me Section */
#contact #way-to-contact{
    display: flex;
    margin: 20px;
       
}
#way-to-contact h2{
    padding-right: 10px;
}

/* Media Queries */

/* Mobile layout L-S */
@media screen and (max-width: 425px) {
    header{
        text-align: center;
    }
  nav ul {  
     padding:0px;
     justify-content: center;
     margin: 0 auto;
     
    }
 nav ul a {
  
}
  nav h1 {
    padding: 5px;
    width:100%;
    text-align: center;
  }
  .sec{
      flex-wrap: wrap;
      padding: 0px;
  }
  #top{
      flex-direction: column;
      justify-content: center;
      padding: 0px;
      text-align: center;
  }
  #myPhoto{
      margin: 0 auto;
      max-width: 300px;
  }
  #top h2{
      max-width: 80%;
      padding: 20px 0px;
  }
  /* changes border to bottom */
  .tab {
    border-right: none;
    border-bottom: 5px solid black;
    width: 80%;
    padding-left: 10px;
    margin-left: 10px;
    text-align: left;
    
  }
  #aboutInfo{
      margin-left: 20px;
      padding-left:0px
  }
#contact{
    padding: 0px;
}
/* Contact Me Section */
#contact #way-to-contact{
    flex-direction: column;
   margin: 0px 0px 0px 20px;
    
}
#contact div h2{
    padding: 0px;
    font-size: 20px;
    
}
  

}
